client.tls13.rfc8446.EncryptedExtensions.sendPaddingExtensionInEE is incorrect if client does not support padding extension

The test `client.tls13.rfc8446.EncryptedExtensions.sendPaddingExtensionInEE` sends the padding extension in the EncryptedExtension (regardless of if the padding extension existed in the client hello) and then expects the peer to reply with `illegal_parameter` due to RFC 8446 section 4.2

> If an implementation receives an extension **which it recognizes** and which is not specified for the message in which it appears, it MUST abort the handshake with an"illegal_parameter" alert.

(emphasis mine)

Section 4.2 also says

> Implementations MUST NOT send extension responses if the remote endpoint did not send the corresponding extension requests, with the exception of the "cookie" extension in the HelloRetryRequest.  Upon receiving such an extension, an endpoint MUST abort the handshake with an "unsupported_extension" alert.

So I believe if the client hello contained the padding extension, `illegal_parameter` indeed should be always be sent. However if the client hello did not contain padding, then either `illegal_parameter` or `unsupported_extension` are conforming responses. That is true even if the client does recognize the padding extension, and simply chose not to send it, since in that case the RFC requires the client MUST send two different fatal alerts, which is not possible. It must pick one to send, and the choice seems quite arbitrary.

Hey,

I agree that the two alert codes are somewhat contradictory here. For test suites, it would be helpful if the RFCs explicitly discussed these cases. I think tests for message contents that are always forbidden should take precedence over situational RFC violations. This would also allow us to assess RFC compliance precisely, regardless of the specific CH contents.

Since you are a developer of a TLS library, I'm wondering if you would be willing to implement the checks in an RFC-defined order if it was just for the sake of having an order. Generally, I found that many devs seem to opt for a pragmatic approach when no immediate issues follow from a minor RFC violation.

Regardless, I will also address this in our internal repo so we don't blame devs when they are doing nothing wrong :)
So thank you for the report!

Addressed in newly released v1.5.0