RFE / PointFormatExtension elided takes default value test

## Description of the problem

Per [RFC 8422 section 5.1.2](https://datatracker.ietf.org/doc/html/rfc8422#section-5.1.2):

> RFC 4492 specified that if this extension is missing, it means that only the uncompressed point format is supported, so interoperability with implementations that support the uncompressed format should work with or without the extension.

It further states:

> Implementations of this document MUST support the uncompressed format for all of their supported curves and MUST NOT support other formats for curves defined in this specification.

However, I don't see a test under the [RFC 8422](https://github.com/tls-attacker/TLS-Anvil/tree/main/TLS-Testsuite/src/main/java/de/rub/nds/tlstest/suite/tests/server/tls12/rfc8422) directory, and I see no directory for RFC 4492.

If this is of interest, I'd be happy to submit a PR (with a little guidance on building and running) to add this missing test case.

## Additional Information
- TLS-Anvil version: https://github.com/tls-attacker/TLS-Anvil/commit/283e10fccbbe3ceb69855a514d7826f2d198bfc1 
- Issue occurred using TLS-Anvil while testing the following TLS server/client: n/a
- [ ] Attachted TLS-Anvil logs -- n/a

Hey,
I agree with your interpretation of the RFCs. We initially started adding tests based on requirements that contain one of the mandatory keywords defined in RFC 2119. There are other requirements, such as the one you quoted first, which are still missing. You are welcome to submit a PR. If you run into any issues, feel free to leave questions here.